*.exe
*.log
*.pyc
*.tmp
*.zip
*.rar
*.7z
.coverage
/$coverage
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
/dist/
/build/appicon.png
/build/bin/
/build/generated/
/web/wailsjs/
/.venv/
/iris-online-database
/resource_windows_*.syso
__pycache__/
coverage.out
dist/
pending-delete.json
profile.json
